body {
  display: flex;
  flex-direction: column;
  background-color: black;
}

h1, h2, h3, h4, h5 {
  display: flex;
  justify-content: center;
  color: white;
  font-style: italic;
}

button {
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#mainContent {
  display: flex;
  justify-content: space-evenly;
}

#controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}

#container {
  background: red;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(255, 255, 255, 0.507);
  gap: 16px;
  padding: 32px;
}

#densityValue, #densityHeader {
  margin: 0;
}

.row {
  display: flex;
  justify-content: center;
}

.box {
  background-color: white;
  padding: 0;
}
